{% extends 'base.html.twig' %}

{% block body %}

<div class="page_choix_missions">
    <h1>Welcome to Survivor</h1>
    <div class="row container-fluid">
    	<div class="col-md-12 missions_line">
    		<div class="col-md-3 col-md-offset-2 mission_block"></div>
    		<div class="col-md-3 col-md-offset-2 mission_block"></div>
		</div>
    	<div class="col-md-12 missions_line">
    		<div class="col-md-3 col-md-offset-2 mission_block"></div>
    		<div class="col-md-3 col-md-offset-2 mission_block"></div>
		</div>
	</div>
</div>

{% endblock %}