{% extends 'base.html.twig' %}



{% block body %}
<div class="container-fluid map">
	<div class="col-md-12">
		<div class="col-md-10">
		</div>
		<div class="col-md-2">
			<div class="col-md-12 carte">
			</div>
			<div class="col-md-12 tableau">
				
			</div>

		</div>
	</div>
</div>


{% endblock %}