{% extends 'base.html.twig' %}



{% block body %}
<div class="container-fluid map">
	<div class="col-md-12">
		<div class="col-md-9 street">
			<div></div>
    		<div id="pano"></div>

		</div>
		<div class="col-md-3">
			<div id="map" class="col-md-12 carte">
			</div>
			<div class="col-md-12 tableau">
				<h3>Boulangerie</h3>
        <h3>Indice :</h3>
        <h3>Temps restant:
          <div id="compteur"></div>
        </h3>
			</div>

		</div>
	</div>
</div>
<script>

function initialize() {
  var fenway = {lat: 48.448035, lng: 1.49276};
  var map = new google.maps.Map(document.getElementById('map'), {
    center: fenway,
    zoom: 14
  });
  var panorama = new google.maps.StreetViewPanorama(
      document.getElementById('pano'), {
        position: fenway,
        pov: {
          heading: 34,
          pitch: 10
        }
      });
  map.setStreetView(panorama);
}

</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBKoRwoiN_pQDL5up1z4KcoLA-cBHkekn8&signed_in=true&callback=initialize">
</script>

<script language="JavaScript">
                
                function t()
                {
            var compteur=document.getElementById('compteur');
            s=duree;
            m=0;h=0;
            if(s<0)
                        {
                                compteur.innerHTML="terminé<br />"+"<a href=http://lien1.fr></a>"
            }
                        else
                        {
                                if(s>59)
                                {
                                        m=Math.floor(s/60);
                                        s=s-m*60
                }
                                if(m>59)
                                {
                                        h=Math.floor(m/60);
                    m=m-h*60
                                }
                if(s<10)
                                {
                                        s="0"+s
                }
                if(m<10)
                                {
                    m="0"+m
                }
                  compteur.innerHTML=h+":"+m+":"+s+"<br /><a href=http://lien2.fr></a>"
            }
            duree=duree-1;
            window.setTimeout("t();",999);

        }
                
                </script>
                 <script language="JavaScript">
                        duree="300";
                        t();
                </script>

  

{% endblock %}