@font-face {
font-family: 'Glyphicons Halflings';
src: url('../fonts/glyphicons-halflings-regular.eot');
src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

/** Home page
 */


/** Index
 */
.rambo {
	background: url(../img/mission.jpg);
	background-position: center;
	background-size: cover;
	height:100vh;
	margin-top: -20px;
}
.blanc {
	background-color: rgba(223, 223, 223, 0.8);
	border-radius: 5px;
}
.vide {
	height: 100px;
}

/** Mission
 */
.mission {
	background: url(../img/mission1.jpg);
	background-position: center;
	background-size: cover;
	height:100vh;
	margin-top: -20px;
}
.theme {
	border:solid green 2px;
	height: 300px;
}
.espace {
	height: 100px;
}
/** Map
 */

 .carte {
 	height: 200px;
 	border:solid green 2px;
 }
 .tableau {
 	height: 500px;
 	border:solid green 2px;
 }