@font-face {
font-family: 'Glyphicons Halflings';
src: url('../fonts/glyphicons-halflings-regular.eot');
src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}
@font-face {
    font-family: 'Chrono'; 
    src: url('Open_24.ttf');
}
/** navbar
 */

 .navbar{
 	margin-bottom:0px;
 }
/** Home page
 */
 html, body{
	height:100%;
}
.page_choix_missions{
	padding-top:40px;
	background-image: url(../img/aventurier3.jpg);
	background-repeat:no-repeat;
	background-size: cover;
	height:100%;
}

.page_choix_missions h1{
	text-align:center;
	margin-top:0px;
	margin-bottom:50px;
	color: black;
}
.vide1 {
	height: 80px;
}
.container-fluid{
	margin: 0px;
}

.mission_block{
	height: 150px;
	border: black 3px solid;
	border-radius: 5px;
	margin-bottom:20px;
	padding-left: 0px;
	background-color: #F1F1F1;
	
}

/** Index
 */
.rambo {
	background: url(../img/mission.jpg);
	background-position: center;
	background-size: cover;
	height:100vh;
	
}
.blanc {
	background-color: rgba(223, 223, 223, 0.8);
	border-radius: 5px;
}
.vide {
	height: 200px;
}

/** Mission
 */
.mission {
	background: url(../img/mission1.jpg);
	background-position: center;
	background-size: cover;
	height:100vh;
	
}
.theme {
	border:solid green 2px;
	border-radius: 5px;
	height: 300px;
}
.espace {
	height: 100px;
}
/** Map
 */
.map {
	background-color: rgb(227, 227, 227);
	margin-right: -45px;
}
.street {
	height: 100%;
	margin: 0;
    padding: 0;
}
 .carte {
 	height: 200px;
 	border:solid green 2px;
 }
 .tableau {
 	height: 400px;
 	border:solid green 2px;
 }
 #map {
	height: 200px;
 }
 #pano {
        float: left;
        height: 600px;
        width: 100%;
      }
